<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.StringTemplate" version="4.0.6.9004" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="4.5.8" targetFramework="net40-Client" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40-Client" />
  <package id="ninject.extensions.conventions" version="3.0.0.11" targetFramework="net40-Client" />
</packages>