<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer" version="1.28.0" targetFramework="net46" userInstalled="true" />
  <package id="MarkdownLog" version="0.9.3" targetFramework="net46" userInstalled="true" />
  <package id="MfGames" version="4.1.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="net45" userInstalled="true" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="YamlDotNet" version="3.2.1" targetFramework="net46" userInstalled="true" />
</packages>